<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
</head>
<body>
    
    <div class="form-control">
        <center>
            <p>What chat room would you like to enter?</p><br/>
            <input id="room-name-input" type="text" size="100"><br>
        <input style="margin: 5px;" class="btn btn-success" id="room-name-submit" type="button" value="Enter">
        </center>
    </div>
    
    <br>
    <div class="form-control">
        <center>
            <p>or</p>
            <input id="room-name" type="text" placeholder="Room Name:"><br>
        <input style="margin: 5px;" class="btn btn-success" id="room-name-create" type="button" value="Create a Room">
        </center>
    </div>

    <br>
    <div class="form-control">
        <center>
            <p>or</p>
            <input style="margin: 5px;" class="btn btn-success" id="invite" type="button" value="Invite a User">
        </center>
    </div>
    
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };

        document.querySelector('#room-name').focus();
        document.querySelector('#room-name').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-create').click();
            }
        };

        document.querySelector('#room-name-create').onclick = function(e) {
            var roomName = document.querySelector('#room-name').value;
            if(roomName != ""){
                window.location.pathname = '/chat/room/create/' + roomName + '/';
            }
        };

        document.querySelector('#invite').onclick = function(e) {
            window.location.pathname = '/chat/user/invite/';
        };
    </script>
</body>
</html>