asgiref
twisted[http2,tls]
gunicorn
websocket-client
django-redis
django-ratelimit
python-slugify
async-timeout
attrs
autobahn
Automat
certifi
cffi
channels
channels-redis
charset-normalizer
constantly
cryptography
daphne
Django
hyperlink
idna
incremental
msgpack
oauthlib
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
redis
requests
requests-oauthlib
service-identity
six
sqlparse
twisted
txaio
typing_extensions
urllib3
zope.interface
dj-database-url
